<div class="container">
    <div class="row">
        <div class="col-md-4">
            <form>
                <div class="mb-3">
                    <label for="username" class="form-label">Name</label>
                    <input type="text" class="form-control" id="username" name="name" aria-describedby="username">
                </div>
                <div class="mb-3">
                    <label for="price" class="form-label">Password</label>
                    <input type="password" name="password" ngModel class="form-control" id="password" aria-describedby="price">
                </div>
                <button type="submit" class="btn btn-primary">Login</button>
            </form>
        </div>
    </div>
</div>