<div class="col-md-4">
    <form [formGroup]="courseForm" (ngSubmit)="handleSubmit(courseForm.value)">
        <div class="mb-3">
            <label for="name" class="form-label">Course Name</label>
            <input type="text" formControlName="courseName" class="form-control" id="courseName" name="name" aria-describedby="name">
        </div>
        <div>
            <!-- {{courseName|json}} -->
            <div *ngIf="courseName?.touched && courseName?.invalid">
                <div class="alert alert-danger">
                    <span *ngIf="courseName?.errors?.required"> Course name is invalid</span>
                    <span *ngIf="courseName?.errors?.minlength">Course price length should be{{courseName?.errors?.minlength.requiredLength - courseName?.errors?.minlength.actualLength }} </span>
                </div>
            </div>
        </div>

        <div class="mb-3">
            <label for="price" class="form-label">Course Price</label>
            <input type="text" formControlName="coursePrice" name="price" class="form-control" id="coursePrice" aria-describedby="price">
        </div>
        <div>
            <div *ngIf="coursePrice?.touched && coursePrice?.invalid">
                <div class="alert alert-danger">
                    <span *ngIf="coursePrice?.errors?.required">Course price is invalid</span>
                    <span *ngIf="coursePrice?.errors?.invalidPrice">invalide Value of course Price</span>
                </div>
            </div>
        </div>
        <div class="mb-3">
            <label for="startDate" class="form-label">Start Date</label>
            <input type="date" class="form-control" name="startDate" id="courseStartDate" aria-describedby="startDate">
        </div>
        <div>
            <div style="display: none;">
                <div class="alert alert-danger">
                    <span>Start date is mandatory</span>
                </div>
            </div>
        </div>
        <button type="submit" [disabled]="courseForm.invalid" class="btn btn-primary">Submit</button>
    </form>
</div>